body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 30px;
    padding: 10px;
    margin-left: 10px;
  }
  
  .navbar {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031cfc;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-left: 190px;
  }
  
  .navbar-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-top li:not(:last-child)::after {
    content: " | ";
    margin-right: 5px;
    color: #000;
  }
  
  
  .navbar-top a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .navbar-bottom button {
    margin: 0 5px;
  }
  
  .navbar-Adimnistrar-Saldos {
    width: 91%;
    
    margin: 30px auto;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-left: 190px;
  }
  
  .navbar-Adimnistrar-Saldos h2 {
    text-align: center;
    margin: 10px;
    color: #fff;
    background-color: #031cfc;
    border-radius: 10px;
    
  }
  
  .alert {
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .table {
    width: 10px;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar, .navbar-saldos {
      width: 50%;
    }
  }

  .edit-icon {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .edit-icon i {
    color: blue;
  }
  
  .edit-icon i:hover {
    color: darkblue;
  }

  .view-icon {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .view-icon i {
    color: blue;
  }
  
  .view-icon i:hover {
    color: darkblue;
  }
  


  .table thead tr {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #e6f2ff;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f2e6ff;
  }
  
  